html{
    font-size:16px;

    #main_navigation{
        border-bottom:1px solid #e5e5e5;
        border-radius:0px;
        box-shadow:0px 5px 5px #ccc;

        #new_project{
            cursor:pointer;
        }
    }

}


